@import url(https://fonts.googleapis.com/css?family=Pacifico);
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.search_input {
  font-size: 0;
  width: 360px;
  position: relative;
  margin: 10px;
}

.search_input input {
  border: 1px solid #ced4da;
  vertical-align: top;
  padding: 0px 0px 0px 6px;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  margin: 10;
  /* Safari */
}

.search_input label {
  display: inline-block;
  border: 3px solid #00A5A3;
  background-color: #00A5A3;
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  right: -7px;
}

.search_input label:hover {
  border: 3px solid #00A5A3;
  background-color: white;
  color: #00A5A3;
}

.search_input input:focus {
  background-color: #F3F8F4;
}

header {
  background-color: #F3F8F4;
  position: fixed;
  width: 100%;
  height: 70px;
  margin-bottom: 60px;
  z-index: 10;
}

header .nav_logo {
  position: relative;
  height: 100%;
}

header .nav_logo a.logo_link img.desk {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

header .nav_logo a.logo_link img.sun {
  width: 154px;
  height: 154px;
  animation: rotation 20s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

header .nav_logo a.logo_link.-bottom {
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
  z-index: 1;
}

header div.nav_logo div.middle_bg {
  border: 1px solid #F3F8F4;
  background-color: #F3F8F4;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 2;
}

header div.nav_logo a.logo_link.-up {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  /* border: 1px solid black; */
  font-size: 0;
  z-index: 3;
  top: 10px;
}

.nav_logo img.phone {
  display: none;
}

.forphone > button {
  display: none;
}

.forphone > a {
  display: none;
}

.wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.nav_list {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.nav_list ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  z-index: 15;
}

.nav_list ul li {
  display: inline-block;
  margin: 0 45px;
  height: 60px;
  line-height: 60px;
}

.nav_list ul li a {
  text-decoration: none;
  font-size: 1rem;
}

.nav_list ul li:nth-child(3) {
  margin-right: 110px;
}

.nav_list ul li:nth-child(4) {
  margin-left: 110px;
}

@media screen and (min-width: 1200px) {
  .wrap {
    width: 1140px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .nav_list ul li {
    margin: 0 30px;
    height: 60px;
    line-height: 60px;
  }
  .nav_list ul li:nth-child(3) {
    margin-right: 100px;
  }
  .nav_list ul li:nth-child(4) {
    margin-left: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav_list ul li {
    margin: 0 12px;
    height: 60px;
    line-height: 60px;
  }
  .nav_list ul li:nth-child(3) {
    margin-right: 70px;
  }
  .nav_list ul li:nth-child(4) {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .nav_list {
    display: inline-block !important;
  }
}

@media screen and (max-width: 767px) {
  .wrap {
    width: 540px;
  }
  header {
    margin-bottom: 0px;
  }
  .nav_list {
    display: none;
    width: 100%;
    position: relative;
    top: 55px;
    margin: 0 auto 80px;
  }
  .forphone > button {
    display: block;
    position: absolute;
  }
  .forphone > a {
    display: block;
    position: absolute;
    right: 5%;
    top: 20px;
  }
  .nav_logo img.desk {
    display: none;
  }
  .nav_logo img.phone {
    display: inline-block;
  }
  header div.nav_logo a.logo_link.-up {
    display: none;
  }
  header div.nav_logo a.logo_link.-bottom {
    display: none;
  }
  header div.nav_logo div.middle_bg {
    display: none;
  }
  .nav_logo {
    top: 0px;
  }
  .changelogo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
  }
}

@media screen and (max-width: 576px) {
  .wrap {
    width: 100%;
  }
}

.footer_bgc {
  background-color: #F3F8F4;
}

.footerarrange {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
}

.footerarrange .footright {
  flex: 40%;
  padding-top: 25px;
}

.footerarrange .footercenter {
  border-left: 2px solid #007E85;
  border-right: 2px solid #007E85;
  flex: 20%;
}

.footerarrange .footercenter a {
  display: block;
  width: 120px;
  margin: 0 auto;
}

.footerarrange .footercenter a img {
  width: 120px;
}

.footerarrange .footerright {
  flex: 40%;
  padding-top: 25px;
}

.footerarrange .footerright .link {
  margin-left: 20px;
}

.footerarrange .footerright .link .footer_icon img {
  width: 40px;
  margin: 0 10px;
}

.copyright {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footerarrange .footright {
    display: none;
  }
  .footerarrange .footercenter {
    display: none;
  }
  .footerarrange .footerright {
    padding: 0px;
  }
  .footerarrange .footerright .link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .footerarrange .footerright .link .footer_icon img {
    width: 35px;
    margin: 0 5px;
  }
}

.page {
  padding: 0px 0px 20px 0px;
}

.camping_block {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0 20px;
}

.section1 .breadcrumbs ul {
  text-align: left;
  height: auto;
}

.section1 .breadcrumbs ul li {
  margin: 0px;
  line-height: auto;
  height: auto;
}

.section1 .breadcrumbs ul li a {
  font-weight: bold;
}

.section1 .breadcrumbs ul li a:hover {
  color: #00A5A3;
}

.section1 .breadcrumbs ul li::after {
  content: ">";
  color: #007E85;
  margin: 10px;
}

.section1 .breadcrumbs ul li:last-child::after {
  content: "";
}

.spot {
  display: flex;
}

#weatherbox {
  border-right: 2px solid #C4C4C4;
}

.map {
  height: 550px;
  background: #333;
  display: inline-block;
  max-width: 900px;
  width: 100%;
  margin-left: 20px;
}

.leaflet-popup-content-wrapper {
  width: 200px;
}

.leaflet-popup-content {
  margin: 18px 16px;
}

.leaflet-popup-content a img {
  width: 167px;
  border-radius: 5px;
}

.weather {
  padding: 0 20px 0 0;
}

.search_area {
  margin: 10px auto;
  border-bottom: 2px solid #C4C4C4;
  max-width: 350px;
  width: 100%;
}

.search_area p {
  margin: 10px 0;
  line-height: 30px;
  text-align: center;
}

.search_area p label {
  display: inline-block;
  width: calc(100%-250px);
}

.search_area p select {
  width: 250px;
  height: 30px;
}

.infos {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 2px solid #C4C4C4;
}

.infos .NowT {
  padding: 0 12px;
}

.infos .NowT .TtoT {
  color: #00A5A3;
}

.infos .PoP {
  vertical-align: center;
  padding: 20px 8px;
  color: #00A5A3;
}

.infos .PoP p {
  padding-top: 10px;
  color: #007E85;
}

.infos .RH {
  vertical-align: center;
  padding: 20px 8px;
  color: #00A5A3;
}

.infos .RH p {
  padding-top: 10px;
  color: #007E85;
}

.infosbox {
  border: 3px solid #007E85;
  border-radius: 5px;
  background-color: #F3F8F4;
  font-weight: bold;
}

.weatherweek {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 350px;
  width: 100%;
}

.weatherweek .week {
  max-width: 50px;
  width: 100%;
  border-right: 1px solid white;
}

.weatherweek .day {
  border-bottom: 1px solid white;
  background-color: #00A5A3;
  color: white;
  padding: 6px 8px;
}

.weatherweek .temp {
  border-bottom: 1px solid white;
  background-color: #70CACE;
  color: white;
  padding: 9px 8px;
}

.weatherdesc {
  margin: 0 auto;
  width: 360px;
}

.popular_area {
  display: flex;
  position: relative;
  overflow: hidden;
}

.popular_area .coll_num {
  float: right;
}

.popular_area .area_pic {
  padding-right: 20px;
}

.popular_area .area_pic img {
  width: 400px;
}

.popular_area .hot {
  background-color: #F85619;
  width: 170px;
  height: 170px;
  position: absolute;
  left: -85px;
  top: -85px;
  transform: rotate(45deg);
  z-index: 1;
}

.popular_area .hot p {
  font-size: 16px;
  position: absolute;
  right: 5px;
  bottom: 50%;
  transform: rotate(-45deg);
}

.other_popular_area {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.other_popular_area .card img {
  max-width: 250px;
  width: 100%;
  text-align: center;
}

.other_popular_area .card:nth-child(1) {
  margin-right: 20px;
}

.other_popular_area .card:nth-child(2) {
  margin-right: 20px;
}

.other_popular_area .card:nth-child(3) {
  margin-right: 20px;
}

.currently_gruop {
  border-bottom: 2px solid #C4C4C4;
  padding: 0 0 10px 0;
  display: flex;
  justify-content: space-evenly;
}

.currently_gruop .card {
  max-width: 200px;
  width: 100%;
  text-align: center;
}

.currently_gruop .card img {
  border-radius: 9px;
}

.currently_gruop .card .detail {
  text-align: right;
}

.currently_gruop .card .detail button {
  display: inline-block;
  margin: 5px 0;
}

.currently_gruop .card:nth-child(1) {
  margin-right: 30px;
}

.currently_gruop .card:nth-child(2) {
  margin-right: 30px;
}

.camping_btn .more_btn {
  display: block;
  margin: 20px auto 10px;
}

.location .collect button {
  float: right;
}

.location .big_pic {
  width: 100%;
}

.introduction {
  display: flex;
}

.introduction .text {
  flex: 60%;
}

.introduction .more_pic {
  display: flex;
}

.introduction .more_pic .small_pic {
  width: 60px;
  border-radius: 5px;
  border: 1px solid red;
  align-self: start;
  margin: 3px;
}

.small_pic {
  width: 60px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .search_area p label {
    width: calc(100%-200px);
  }
  .search_area p select {
    width: 200px;
  }
  .infos {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .weatherweek .day {
    padding: 6px 4px;
  }
  .weatherweek .temp {
    padding: 9px 4px;
  }
  .weatherdesc {
    max-width: 300px;
    width: 100%;
  }
  .popular_area .area_pic img {
    width: 350px;
  }
  .other_popular_area {
    flex-wrap: wrap;
  }
  .other_popular_area .card {
    flex: 40%;
  }
  .other_popular_area .card:nth-child(2) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .spot {
    display: block;
  }
  #weatherbox {
    border-right: none;
  }
  .map {
    margin-left: 0px;
    height: 350px;
  }
  .weather {
    padding: 0 0 10px 0;
  }
  .search_area p label {
    width: calc(100%-215px);
  }
  .search_area p select {
    width: 215px;
  }
  .infos {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
  .weatherweek .day {
    padding: 6px 4px;
  }
  .weatherweek .temp {
    padding: 9px 4px;
  }
  .weatherdesc {
    max-width: 350px;
    width: 100%;
  }
  .popular_area {
    display: block;
  }
  .popular_area .area_pic {
    padding-right: 0px;
  }
  .popular_area .area_pic img {
    width: 100%;
  }
  .other_popular_area {
    flex-wrap: wrap;
  }
  .other_popular_area .card {
    flex: 40%;
  }
  .other_popular_area .card:nth-child(2) {
    margin-right: 0px;
  }
  .currently_gruop {
    border-bottom: none;
    display: block;
  }
  .currently_gruop .card {
    text-align: center;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
  }
  .currently_gruop .card img {
    border-radius: 9px;
    max-width: 350px;
    width: 100%;
  }
  .currently_gruop .card:nth-child(1) {
    margin: 0 auto 10px;
  }
  .currently_gruop .card:nth-child(2) {
    margin: 0 auto 10px;
  }
}

@media screen and (max-width: 576px) {
  .other_popular_area {
    display: block;
  }
  .other_popular_area .card:nth-child(1) {
    margin-right: 0px;
  }
  .other_popular_area .card:nth-child(2) {
    margin-right: 0px;
  }
  .other_popular_area .card:nth-child(3) {
    margin-right: 0px;
  }
}

* {
  box-sizing: border-box;
}

.reportbtn {
  background-color: #FFFFFF;
  color: #00A5A3;
  padding: 0 10px;
  height: 30px;
  font-size: 14px;
  border-radius: 8px;
  border-color: #00A5A3;
  font-weight: bold;
}

#app .section1 {
  padding-bottom: 90px;
}

#app .section1 .level11 {
  font-weight: bold;
}

#app .breadcrumbs ul {
  text-align: left;
  padding: 45px 0;
  height: auto;
}

#app .breadcrumbs ul li {
  margin: 0px;
  line-height: auto;
  height: auto;
}

#app .breadcrumbs ul li a {
  font-weight: bold;
}

#app .breadcrumbs ul li a:hover {
  color: #00A5A3;
}

#app .breadcrumbs ul li::after {
  content: ">";
  color: #007E85;
  margin: 10px;
}

#app .breadcrumbs ul li:last-child::after {
  content: "";
}

#app .groupMain .nav {
  display: inline-block;
  width: 243px;
  margin-right: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

#app .groupMain .nav .level7 {
  margin: 0 0 20px;
}

#app .groupMain .nav .serchGroup {
  padding: 10px 0;
  border-top: 1px solid #626262;
}

#app .groupMain .nav .serchGroup label {
  display: block;
  margin: 10px;
  width: 100%;
}

#app .groupMain .nav .serchGroup select {
  display: block;
  margin: 10px;
  height: 30px;
  width: 150px;
  border-radius: 5px;
}

#app .groupMain .nav .serchGroup:nth-child(2) {
  border-top: 0px solid #626262;
}

#app .groups {
  display: inline-block;
  vertical-align: top;
  width: calc( 100% - 277px);
}

#app .groups .group {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  height: 550px;
  padding: 30px;
  position: relative;
}

#app .groups .group .hot {
  background-color: #F85619;
  width: 170px;
  height: 170px;
  position: absolute;
  left: -85px;
  top: -85px;
  transform: rotate(45deg);
  z-index: 1;
}

#app .groups .group .hot p {
  font-size: 16px;
  position: absolute;
  right: 5px;
  bottom: 50%;
  transform: rotate(-45deg);
}

#app .groups .group .gLeft {
  width: 40%;
  margin-right: 40px;
  display: inline-block;
  height: 100%;
  position: relative;
}

#app .groups .group .gLeft .groupBinImg {
  width: 100%;
  display: flex;
  align-items: center;
  height: 350px;
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

#app .groups .group .gLeft .groupBinImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#app .groups .group .gLeft .maphashtag {
  margin: 30px 0;
}

#app .groups .group .gLeft .maphashtag input {
  margin-right: 15px;
}

#app .groups .group .gLeft .mainbtn1 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

#app .groups .group .gRight {
  display: inline-block;
  width: calc(100% - 40% - 45px);
  vertical-align: top;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#app .groups .group .gRight .headLine {
  display: flex;
  justify-content: space-between;
}

#app .groups .group .gRight .headLine H3 {
  margin: 0;
  vertical-align: top;
  display: inline-block;
  line-height: 28px;
}

#app .groups .group .gRight .headLine .smallInfo {
  text-align: right;
  display: inline-block;
}

#app .groups .group .gRight .headLine .smallInfo H6 {
  font-weight: normal;
  margin: 0 0 10px;
}

#app .groups .group .gRight p {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 30px;
}

#app .groups .group .gRight .poster_inform {
  border: 1px solid #007E85;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

#app .groups .group .gRight .poster_inform .poster {
  margin: 0 10px;
  padding: 0 10px;
}

#app .groups .group .gRight .poster_inform .inform_block .inform_pic {
  vertical-align: middle;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  display: inline-block;
}

#app .groups .group .gRight .poster_inform .inform_block .inform_pic img {
  width: 100%;
}

#app .groups .group .gRight .poster_inform .inform_block .inform_text {
  vertical-align: middle;
  display: inline-block;
}

#app .groups .group .gRight .poster_inform .inform_block .inform_text p {
  margin: 0;
}

#app .groups .group .gRight .info {
  height: 70px;
  overflow: hidden;
}

#app .groups .group .gRight .aboutPepole {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#app .groups .group .gRight .aboutPepole .right {
  width: calc(100% / 2);
  text-align: center;
}

#app .groups .group .gRight .aboutPepole .right .note {
  color: #F85619;
}

#app .groups .group .gRight .equthing {
  margin: 0 0 25px;
}

#app .groups .group .gRight .equthing .equ {
  display: inline-block;
  margin: 0;
}

#app .groups .group .gRight .equthing button {
  margin-right: 15px;
}

#app .groups .group .gRight .more {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 1200px) {
  .wrap {
    width: 1140px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .wrap {
    width: 960px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .wrap {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .wrap {
    width: 540px;
  }
  .section1 {
    padding-top: 90px !important;
  }
}

@media screen and (max-width: 576px) {
  .wrap {
    width: 100%;
  }
}

.level0 {
  font-size: 14px;
  line-height: 20px;
}

.level1 {
  font-size: 16px;
  line-height: 20px;
}

.level2 {
  font-size: 18px;
  line-height: 30px;
}

.level3 {
  font-size: 20px;
  line-height: 30px;
}

.level4 {
  font-size: 22px;
  line-height: 30px;
}

.level5 {
  font-size: 24px;
  line-height: 30px;
}

.level6 {
  font-size: 26px;
  line-height: 40px;
}

.level7 {
  font-size: 28px;
  line-height: 40px;
}

.level8 {
  font-size: 30px;
  line-height: 40px;
}

.level9 {
  font-size: 32px;
  line-height: 40px;
}

.level10 {
  font-size: 34px;
  line-height: 50px;
}

.level11 {
  font-size: 36px;
  line-height: 50px;
}

.level12 {
  font-size: 38px;
  line-height: 50px;
}

.level13 {
  font-size: 40px;
  line-height: 50px;
}

.level14 {
  font-size: 42px;
  line-height: 60px;
}

.level15 {
  font-size: 44px;
  line-height: 60px;
}

.level16 {
  font-size: 46px;
  line-height: 60px;
}

.level17 {
  font-size: 48px;
  line-height: 60px;
}

.level18 {
  font-size: 50px;
  line-height: 60px;
}

.level19 {
  font-size: 52px;
  line-height: 70px;
}

.level20 {
  font-size: 54px;
  line-height: 70px;
}

.title {
  color: #007E85;
  width: 100%;
  height: auto;
  font-size: 36px;
  font-weight: bold;
  line-height: 54px;
}

.sub_title {
  color: #007E85;
  width: 100%;
  height: auto;
  font-size: 28px;
  font-weight: bold;
  line-height: 42px;
}

.third_title {
  color: #007E85;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.nav_title {
  color: #007E85;
  font-size: 18px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.mainbtn1 {
  background-color: #00A5A3;
  color: #FFFFFF;
  width: 250px;
  height: 45px;
  font-size: 16px;
  border-radius: 8px;
  border-color: #00A5A3;
  border-width: 3px;
  font-weight: bold;
  position: relative;
}

.mainbtn1:hover {
  background-color: #FFFFFF;
  color: #00A5A3;
}

.mainbtn1:active {
  top: 3px;
  left: 3px;
  box-shadow: none;
}

.mainbtn2 {
  background-color: #FFFFFF;
  color: #00A5A3;
  width: 250px;
  height: 45px;
  font-size: 16px;
  border-radius: 8px;
  border-color: #00A5A3;
  border-width: 3px;
  font-weight: bold;
  position: relative;
}

.mainbtn2:hover {
  background-color: #00A5A3;
  color: #FFFFFF;
}

.mainbtn2:active {
  top: 3px;
  left: 3px;
  box-shadow: none;
}

.secondbtn1 {
  background-color: #00A5A3;
  color: #FFFFFF;
  width: 120px;
  height: 45px;
  font-size: 16px;
  border-radius: 8px;
  border-color: #00A5A3;
  border-width: 3px;
  font-weight: bold;
  position: relative;
}

.secondbtn1:hover {
  background-color: #FFFFFF;
  color: #00A5A3;
}

.secondbtn1:active {
  top: 3px;
  left: 3px;
  box-shadow: none;
}

.secondbtn2 {
  background-color: #FFFFFF;
  color: #00A5A3;
  width: 120px;
  height: 45px;
  font-size: 16px;
  border-radius: 8px;
  border-color: #00A5A3;
  border-width: 3px;
  font-weight: bold;
  position: relative;
}

.secondbtn2:hover {
  background-color: #00A5A3;
  color: #FFFFFF;
}

.secondbtn2:active {
  top: 3px;
  left: 3px;
  box-shadow: none;
}

.thirdbtn1_green {
  background-color: #00A5A3;
  color: #FFFFFF;
  padding: 0 15px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #00A5A3;
  font-weight: bold;
}

.thirdbtn1_green:hover {
  background-color: #FFFFFF;
  color: #00A5A3;
}

.thirdbtn2_green {
  background-color: #FFFFFF;
  color: #00A5A3;
  padding: 0 15px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #00A5A3;
  font-weight: bold;
}

.thirdbtn2_green:hover {
  background-color: #00A5A3;
  color: #FFFFFF;
}

.thirdbtn1_orange {
  background-color: #FC8F24;
  color: #FFFFFF;
  padding: 0 15px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #FC8F24;
  font-weight: bold;
}

.thirdbtn1_orange:hover {
  background-color: #FFFFFF;
  color: #FC8F24;
}

.thirdbtn2_orange {
  background-color: #FFFFFF;
  color: #FC8F24;
  padding: 0 15px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #FC8F24;
  font-weight: bold;
}

.thirdbtn2_orange:hover {
  background-color: #FC8F24;
  color: #FFFFFF;
}

.tagbtn_green {
  background-color: #70CACE;
  color: #FFFFFF;
  padding: 0 15px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  border-color: #70CACE;
  font-weight: bold;
}

.tagbtn_yellow {
  background-color: #FFCD43;
  color: #FFFFFF;
  padding: 0 15px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  border-color: #FFCD43;
  font-weight: bold;
}

.tagbtn_gray {
  background-color: #C4C4C4;
  color: #000000;
  padding: 0 15px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  border-color: #C4C4C4;
  font-weight: bold;
}

.green1 {
  color: #007E85;
}

.green2 {
  color: #70CACE;
}

.green3 {
  color: #00A5A3;
}

.green4 {
  color: #F3F8F4;
}

.gray1 {
  color: #626262;
}

.gray2 {
  color: #C4C4C4;
}

.orange1 {
  color: #FC8F24;
}

.orange2 {
  color: #F85619;
}

.white {
  color: #FFFFFF;
}

.bgcColor {
  background-color: #AFDCDE;
}

.col-sm-1 {
  width: 8.33333%;
}

.col-sm-2 {
  width: 16.66667%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-4 {
  width: 33.33333%;
}

.col-sm-5 {
  width: 41.66667%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-7 {
  width: 58.33333%;
}

.col-sm-8 {
  width: 66.66667%;
}

.col-sm-9 {
  width: 75%;
}

.col-sm-10 {
  width: 83.33333%;
}

.col-sm-11 {
  width: 91.66667%;
}

.col-sm-12 {
  width: 100%;
}

.section1 {
  padding-top: 140px;
}
/*# sourceMappingURL=style.css.map */