.page{
    padding: 0px 0px 20px 0px;
}
.camping_block{
    background-color: white;
    border-radius: 10px;
    padding:20px;
    margin: 10px 0 20px;
}
.spot{
    display: flex;
}
#weatherbox{
    border-right: 2px solid $grayColor2;
}
.map{
    height: 550px;
    background: #333;
    display: inline-block;
    max-width: 900px;
    width: 100%;
    margin-left:20px ;
    // border: 1px solid red;
    
}

.weather{
    padding: 0 20px 0 0;
}
//收尋bar
.search_area{
    // border: 1px solid green;
    margin: 10px auto;
    border-bottom: 2px solid $grayColor2;
    max-width: 350px;
    width: 100%;
}
.search_area p{
    margin: 20px 0;
    line-height: 30px;
    text-align: center;
}
.search_area label{
    display: inline-block;
    width: calc(100%-250px);
}
.search_area select{
    width: 250px;
    height: 30px;
}

//溫度、降雨、濕度
.infos{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 0 20px 0;
    border-bottom: 2px solid $grayColor2;
    .NowT{
        padding:0 12px ;
        .TtoT{
            color: $greenColor3;
        }
    }
    .PoP{
        vertical-align: center;
        padding: 20px 8px;
        color: $greenColor3;
        p{
            padding-top: 10px;
            color: $greenColor1;;
        }
    }
    .RH{
        vertical-align: center;
        padding: 20px 8px ;
        color: $greenColor3;
        p{
            padding-top: 10px;
            color: $greenColor1;;
        }
    }
}
.infosbox{
    border: 3px solid $greenColor1;
    border-radius: 5px;
    background-color: $greenColor4;
    font-weight: bold;
}



.weatherweek{ 
    display: flex;
    text-align: center;
    justify-content:center;
    margin: 20px auto;
    max-width: 350px;
    width: 100%;    
    .week{
        max-width: 50px;
        width: 100%;
        border-right:1px solid white ;
    }
    .day{
        border-bottom:1px solid white ;
        background-color: $greenColor3;
        color: white;
        padding: 6px 8px;
    }
    .temp{
        border-bottom:1px solid white ;
        background-color: $greenColor2;
        color: white;
        padding: 9px 8px;
    }
}


.weatherdesc{
    margin: 0 auto;
    width: 360px;
}

//熱門營區
.popular_area{
    display: flex;
    position: relative;
    overflow: hidden;
    .area_pic{
        flex: 40%;
        padding: 0 20px;
    }
    .area_info{
        flex: 60%;
    }
    .hot{
        background-color:  $orangeColor2; 
        width: 170px;
        height: 170px;
        position: absolute;
        left: -85px;
        top: -85px;
        transform: rotate(45deg);
        z-index:1;
        p{
            font-size: 16px;
            position: absolute;
            right: 5px;
            bottom: 50%;
            transform: rotate(-45deg);
        }
    }
}

//其他熱門營區
.other_popular_area{
    display: flex;
    text-align: center;
    justify-content: space-around;
    .card{
        img{
            max-width: 250px;
            width: 100%;
            text-align: center;
        }
    }
    .card:nth-child(1){
        margin-right: 20px;
    }
    .card:nth-child(2){
        margin-right: 20px;
    }
    .card:nth-child(3){
        margin-right: 20px;
    }

}
//近期揪團
.currently_gruop{
    border-bottom: 2px solid $grayColor2;
    padding: 0 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    .card{
        max-width: 200px;
        // border: 1px solid red;
        width: 100%;
        text-align: center;
        img{
            border-radius: 9px;
        }
        .detail{
            text-align: right;
            button{
                display:inline-block;
                margin: 5px 0;
            }
        }
    }
    .card:nth-child(1){
        margin-right: 30px;
    }
    .card:nth-child(2){
        margin-right: 30px;
    }
}
.camping_btn{
    .more_btn{
        display: block;
        margin: 20px auto 10px;
    }
}
//------------------------------------------------------------
//camping2
.location{
    .collect{
        display: flex;
        .collect_btn{
            width: 100px;
            text-align: right;
        }
    }
    .big_pic{
        width: 100%;
    }
}
.introduction{
    display: flex; 
    .text{
        flex: 60%;
    }
    .more_pic{
        display: flex;
        .small_pic{
            width: 60px;
            border-radius: 5px;
            border: 1px solid red;
            align-self: start;
            margin: 3px;
        }
    }
}
.small_pic{
    width: 60px;
}

//rwd
@media screen and (min-width: 768px) and (max-width: 991px){
    .search_area{
        p{
            label{
                width: calc(100%-200px);
            }
            select{
                width: 200px;
            }
        }
    }
    .infos{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .weatherweek{     
        .day{
            padding: 6px 4px;
        }
        .temp{
            padding: 9px 4px;
        }
    }
    .weatherdesc{
        max-width: 300px;
        width: 100%;
    }
    //其他熱門營區
    .other_popular_area{
        flex-wrap: wrap;
        .card{
            flex: 30%;
        }
        .card:nth-child(2){
            margin-right: 0px;
        }
    }
}
@media screen and (max-width: 767px){
    .spot{
        display: block;
    }
    #weatherbox{
        border-right: none;
    }
    .map{
        margin-left:0px ;
        height: 350px;
    }
    
    .weather{
        padding: 0 0 10px 0;
    }
    .search_area{
        p{
            label{
                width: calc(100%-215px);
            }
            select{
                width: 215px;
            }
        }
    }
    .infos{
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }
    .weatherweek{     
        .day{
            padding: 6px 4px;
        }
        .temp{
            padding: 9px 4px;
        }
    }
    .weatherdesc{
        max-width: 350px;
        width: 100%;
    }
    //其他熱門營區
    .other_popular_area{
        flex-wrap: wrap;
        .card{
            flex: 30%;
        }
        .card:nth-child(2){
            margin-right: 0px;
        }
    }
//近期揪團
.currently_gruop{
    border-bottom: none;
    display: block;
    .card{
        text-align: center;
        margin: 0 auto;
        // border: 1px solid red;
        max-width: 350px;
        width: 100%;
        img{
            border-radius: 9px;
            max-width: 350px;
        width: 100%;
        }
    }
    .card:nth-child(1){
        margin: 0 auto 10px;
    }
    .card:nth-child(2){
        margin: 0 auto 10px;
    }
}
}
@media screen and (max-width: 576px){
    .popular_area{
        display: block;
        .area_pic{
            img{
                width: 100%;
            }
        }
    }
        //其他熱門營區
        .other_popular_area{
            display: block;
            .card:nth-child(1){
                margin-right: 0px;
            }
            .card:nth-child(2){
                margin-right: 0px;
            }
            .card:nth-child(3){
                margin-right: 0px;
            }
        }
}


