.camping_block{
    background-color: white;
    border-radius: 10px;
    padding:20px;
    margin: 20px 0;
}
.spot{
    display: flex;
}
#weatherbox{
    border-right: 2px solid $grayColor2;
}
.map{
    height: 500px;
    background: #333;
    display: inline-block;
    max-width: 900px;
    width: 100%;
    margin-left:10px ;
    // border: 1px solid red;
    
}

.weather{
    padding: 10px;

}
//收尋bar
.search_area{
    // border: 1px solid green;
    margin: 10px auto;
}
.search_area p{
    margin: 20px 0;
    line-height: 30px;
    text-align: center;
}
.search_area label{
    display: inline-block;
    width: calc(100%-250px);
}
.search_area select{
    width: 250px;
    height: 30px;
}

//溫度、降雨、濕度
.infos{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.infosbox{
    border: 2px solid $greenColor3;
    border-radius: 5px;
    background-color: $greenColor4;
}
.NowT{
    padding:0 8px ;
}

.PoP,.RH{
    vertical-align: center;
    padding: 20px 8px ;
}

.weatherweek{
    display: flex;
    text-align: center;
    justify-content:center;
    margin: 20px auto;
    max-width: 350px;
    width: 100%;
    // border: 1px solid gray;

}
.day{
    background-color: $greenColor2;
}
.weatherweek p{
    padding: 9px 8px;
}
#LowT,#HightT{
    border-bottom: 1px solid gray;
}

.weatherdesc{
    margin: 0 auto;
    width: 360px;
}

//熱門營區
.popular_area{
    display: flex;
    .area_pic{
        flex: 40%;
    }
    .area_info{
        flex: 60%;
    }
}

//其他熱門營區
.other_popular_area{
    display: flex;
    text-align: center;
    justify-content: space-around;
    .card{
        img{
            max-width: 250px;
            width: 100%;
            text-align: center;
        }
    }
    .card:nth-child(1){
        margin-right: 20px;
    }
    .card:nth-child(2){
        margin-right: 20px;
    }
    .card:nth-child(3){
        margin-right: 20px;
    }

}


//rwd
@media screen and (min-width: 768px) and (max-width: 991px){
    .search_area{
        p{
            label{
                width: calc(100%-200px);
            }
            select{
                width: 200px;
            }
        }
    }
    .infos{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .weatherweek p{
        padding: 8px 4px;
    }
    .weatherdesc{
        max-width: 300px;
        width: 100%;
    }
    //其他熱門營區
    .other_popular_area{
        flex-wrap: wrap;
        .card{
            flex: 30%;
        }
        .card:nth-child(2){
            margin-right: 0px;
        }
    }
}
@media screen and (max-width: 767px){
    .spot{
        display: block;
    }
    #weatherbox{
        border-right: none;
    }
    .search_area{
        p{
            label{
                width: calc(100%-215px);
            }
            select{
                width: 215px;
            }
        }
    }
    .infos{
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }
    .weatherweek{     
        .week{
            max-width: 50px;
            width: 100%;
        }
        p{
            padding: 8px 4px;
        }
    }

    .weatherdesc{
        width: 100%;
    }
    .weatherdesc{
        max-width: 350px;
        width: 100%;
    }
    //其他熱門營區
    .other_popular_area{
        flex-wrap: wrap;
        .card{
            flex: 30%;
        }
        .card:nth-child(2){
            margin-right: 0px;
        }
    }

}
@media screen and (max-width: 576px){
    .popular_area{
        display: block;
        .area_pic{
            img{
                width: 100%;
            }
        }
    }
        //其他熱門營區
        .other_popular_area{
            display: block;
            .card:nth-child(1){
                margin-right: 0px;
            }
            .card:nth-child(2){
                margin-right: 0px;
            }
            .card:nth-child(3){
                margin-right: 0px;
            }
        }
}


