.wrap{
    .stepBreadcrumbs{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 3%;
        .cardStep{
            background-color: $yellowColor2;
            padding: 1.2rem;
            border-radius: 50%;
            p{
                text-align: center;
            }
        }
        .chooseCardStep{
            background-color: $yellowColor1;
            padding: 1.2rem;
            border-radius: 50%;
            p{
                text-align: center;
            }
        }        
    }
    .postcard_content{
        display: flex;
        width: 100%;
        margin: 0 auto;
        
        .postcard{
            border: 1px solid red;
            margin-right: 15px;
            width: 840px;
            height: 560px;
            position: relative;
            
            .pdContentImg{
                width: 5%;
                height: 5%;
                position: absolute;
            }

            .putPhoto{
                width: 96%;
                border: 1px solid green;
                height: 85%;
                margin: 0 auto;
                margin-top: 2%;
            }
        }
        .rightPostcard{
            border: 1px solid blue;
            width: 287px;
            height: 560px;
            background-image: url("../../postcardMaterial/leftBackground.svg");
            background-size: cover;
            background-repeat: no-repeat;
            p{
                text-align: center;
                margin-top: 10%;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .stylePostcard{
                display: none;
                flex-direction: column;
                height: 400px;
                justify-content: space-around;
                align-items: center;
                width: 90%;
                margin: 0 auto;
                
                .paperTexture{
                    border: 1px solid red;
                    height: 30%;
                    width: 100%;
                    
                    p{
                        text-align: center;
                        margin-top: 0%;
                        margin-bottom: 6%;
                    }
                    .posBackground{
                        border: 1px solid;
                        width: 60%;
                        height: 50%;
                        margin: 0 auto;
                    }
                }
            }
            .stepContent{
                display: flex;
                justify-content: space-evenly;
                margin: 0 auto;
                width: 90%;
                .stepHover{
                    background-color: #FFFFFF;
                    color: #00A5A3;
                    width: 120px;
                    height: 45px;
                    font-size: 16px;
                    border-radius: 8px;
                    border-color: #00A5A3;
                    border-width: 3px;
                    font-weight: bold;
                    position: relative;
                }
            }
        }
    }


}